* { margin: 0; padding: 0; font: 16px/1.3em 'Open Sans', Helvetica, Arial, sans-serif; }
html, body { height: 100%; }
body { color: #000000; }
img { border: none; vertical-align: middle; }
li { margin-left: 30px; }
p, ul { margin-bottom: 1.3em; }

.clear { clear: both; }

input[type="text"], select { padding: 1px; }
.selector { display: inline; margin-right: 20px; }
.selector li { display: inline; margin-left: 0; margin-right: 5px; }
.selector li:last-child { margin-right: 0; }
.selector li.selected a { font-weight: bold; text-decoration: none; color: #000000; }

/*
#items-index body {
 background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.39, rgb(0,0,0)),
    color-stop(0.73, rgb(46,46,46))
);
 background-image: -moz-linear-gradient(
    left top,
    rgb(0,0,0) 39%,
    rgb(46,46,46) 73%
);
}*/

#page-back, #page-next {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 10000;
}

#page-back:active, #page-next:active {
  background-color: #000000;
  opacity: 0.2;
}

#page-back {
  left: 0;
}

#page-next {
  right: 0;
}

