body, div, a, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body { height: 100%; }
li { margin-left: 30px; }
p, ul { margin-bottom: 1.3em; }

.clear { clear: both; }

#wrapper {
  position: relative;
  top: 51px;
}

#navbar-content-target {
  text-align: center;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0 !important;
}